:root{
 /* Font-Sizes */
--HeadingSize: 24px;
--PSize: 14px;

 /* Font-Weights */
 --Light: 400; 
 --medium: 600;
 --bold: 700;

 /* Colors */
--Grey700: #333333;
--Grey800: #1E1E1E;
--Grey900: #141414;
--white: #FFFFFF;
--Green: #C4F82A;

/* Spacing */
--null: 0px;
--xxs: 4px;
--xs: 8px;
--s: 12px;
--m: 16px;
--l: 20px;
--xl: 24px;
--xxl: 28px;
--xxxl: 32px;
--xxxxl: 38px;
--xxxxxl: 42px;
}

html,body{
height: 100%;
margin: 0;
}

body{
display: flex;
justify-content: center;
align-items: center;
background-color: var(--Grey900);
}

/*Container*/
#Karte {

/*Container-Responsive machen*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

width: 100%;
max-width: 381px;
background-color: var(--Grey800);
box-sizing: border-box;
color: var(--white);
border-radius: 8px;
}

/*Image & Text*/
content {
font-family: inter;
    
/*Inahlt-Responsive machen*/
width: 70%;
text-align: center;

/*Spacing*/
margin-bottom: var(--xl);
}

content profile_picture img{
border-radius: 50%;
width: 94px;
height: 94px;
    
/*Spacing*/
margin-top: var(--xxxxl);
margin-bottom: var(--xl);
    
}

text h1{
font-size: var(--HeadingSize);
font-weight: var(--medium);

/*Spacing*/
margin-bottom: var(--xs);
margin-top: var(--null);
}

#subline{
color: var(--Green);
font-size: var(--PSize);
font-weight: var(--medium);

/*Spacing*/
margin-bottom: var(--xl);
margin-top: var(--null);
}

text p{
font-size: var(--PSize);
font-weight: var(--Light);
}

/*Links - Buttons*/
links{
margin-bottom: var(--xxxxl);
margin-left: var(--xxxxl);
margin-right: var(--xxxxl);
width: 100%;
text-align: center;

}

button{
border-radius: 9px;
border: none;
width: 80%;

color: var(--white);
background-color: var(--Grey700);
font-weight: var(--medium);

/*Spacing*/
padding-top: var(--m);
padding-bottom: var(--m);
margin-bottom: var(--m);
}

button:hover {
background-color: var(--Green);
color: var(--Grey800);
}
