:root{
 /* Font-Sizes */
--HeadingSize: 24px;
--PSize: 14px;

 /* Font-Weights */
 --Light: 400; 
 --medium: 600;
 --bold: 700;

 /* Colors */
--Grey700: #333333;
--Grey800: #1E1E1E;
--Grey900: #141414;
--white: #FFFFFF;
--Green: #C4F82A;

/* Spacing */
--xxs: 4px;
--xs: 8px;
--s: 12px;
--m: 16px;
--l: 20px;
--xl: 24px;
--xxl: 28px;
--xxxl: 32px;

}

html,body{
    background-color: var(--Grey900);

}

/*Container*/
#Karte {
    width: clamp(327,50vw,381);
    background-color: var(--Grey800);
    box-sizing: border-box;
    color: var(--white);

    /*Container-Responsive machen*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Image & Text*/
content {
    font-family: inter;

    /*Inahlt-Responsive machen*/
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

content profile_picture img{
    border-radius: 50%;
    width: 94px;
    height: 92px;
}

text h1{
font-size: var(--HeadingSize);
font-weight: var(--medium);
}

#subline{
    color: var(--Green);
    font-size: var(--PSize);
    font-weight: var(--medium);
}

text p{
    font-size: var(--PSize);
    font-weight: var(--Light);
}

/*Buttons*/

button{
    border-radius: 9px;
    width: 80vw;
    padding-top: var(--s);
    padding-bottom: var(--s);
    margin-bottom: var(--m);
    color: var(--white);
    background-color: var(--Grey700);

    /*Buttons-Responsive machen*/

}
